.br-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.br-header-logo {
    width: 4em;
    height: 4em;
}

.br-header-title-panel {
    display: flex;
    align-items: center;
}

.br-header-title {

}

.br-header-logo-panel {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: start;
}

.br-header-title-panel {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.br-header-controls-panel {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

.br-page {
    margin: 0em 10em 0em 10em;
}

.br-content {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    padding: $spacing-sm;
    text-align: center;
    position: relative;
}

.br-intro-panel {
    border: 1px solid black;
    border-radius: $spacing-sm;
    padding: $spacing-md;
    width: 75%;
    margin: auto;
}

.br-intro {
    display: flex;
    flex-direction: column;
}

.br-intro-section {
    padding: $spacing-sm;
    font-family: NearKartsRegular, monospace;
}

.br-balances {
    display: flex;
    justify-content: space-evenly;
}

.br-balance-panel {
    display: flex;
    flex-direction: column;
    min-width: 14em;
}

.br-staking-panel {
    margin: 2em;
    padding: 1em;
    width: 50%;
    margin: auto;
    border: 1px solid $color-1-base;
    border-radius: 1em;
}

.br-nft-image-panel {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 15em;
    background-color: hsl(0%, 0%, 90%);
    border: 1px solid grey;
    border-radius: 2em;
    justify-content: flex-start;
    align-items: center;
    margin: $spacing-sm auto;
    padding: $spacing-sm;
}

.br-nft-title {
    font-weight: bold;
}

.br-nft-image {
    object-fit: cover;
    max-width: 12em;
}

.br-button {
    position: relative;
    z-index: 10;
    min-width: 7em;
    padding: 0.2em 0.8em;
    margin: 0 0.05em;
    border-radius: 0.4em;
    border-width: 1px 0 0 1px;
    font-size: 0.9em;
    min-height: 2.5em;
    max-height: 3em;
    background-image: linear-gradient(0deg, transparent 0%, hsl($color-1-hue, 0%, 30%) 100%);
    background-color: black;
    border-color: $color-1-l3;
    color: white;

    &:disabled {
        background-image: linear-gradient(0deg, transparent 0%, $color-disabled 100%);
        background-color: $color-disabled;
        border-color: $color-disabled-2;
    }
}

.br-back-button-holder {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.br-battle-controls-holder {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.br-threejs-container {
    width: 900px;
    margin: auto;
    position: relative;
}

.br-screen-container {
    min-height: 800px;
    width: 900px;
    margin: auto;
}

.br-strange-juice-text-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    width: 400px;
    font-family: NearKartsRegular, sans-serif;
    border: 1px solid hsl(0%, 0%, 70%);
    border-radius: 1em;
    padding: 0.4em;
}

.br-strange-juice-overlay {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: NearKartsRegular, sans-serif;
    border: 1px solid hsl(0%, 0%, 70%);
    border-radius: 1em;
    background-color:hsla(0%, 0%, 10%, 0.1);
    width: 40%;
    background-color: hsla(230deg, 10%, 30%, 0.8);
}

.br-strange-juice-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-sm;
    margin: 0.2em;
    border: 4px solid hsl(0%, 0%, 70%);
    border-radius: 1em;
    background-color:hsla(0%, 0%, 10%, 0.1);
}

.br-strange-juice-control:hover {
    background-color:hsla(0%, 0%, 10%, 0.2);
}

.br-strange-juice-overlay-image-container {
    width: 50px;
}

.br-strange-juice-overlay-image {
    width: 100%;
}

.br-strange-juice-overlay-text {
    text-shadow: 1px 1px 5px lightgreen;
    cursor: default;
}

.br-border-hide {
    border: 0;
}

.br-feature-panel {
    display: flex;
    flex-direction: column;
}

.br-feature-row {
    display: flex;
    padding: 0.6em $spacing-sm;
    justify-items: left;
    align-items: baseline;
}

.br-feature-title {
    flex: 1;
    text-align: left;
}

.br-feature-control {
    flex: 2;
    text-align: left;
}

.br-text-entry-row {
    display: flex;
    padding: 0.8em $spacing-sm;
    justify-items: left;
    align-items: center;
}

.br-text-entry-row-label {
    flex: 2;
    text-align: left;
}

.br-text-entry-row-control {
    text-align: left;
}

.br-feature-select {
    background-color: $color-1-base;
    color: white;
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    margin: auto auto auto 0;
    padding-right: $spacing-sm;
    font-size: 1rem;
    border-radius: 0.3em;
    border: 0 solid black;
    outline: none;
    width: 100%;
}

.br-feature-select:focus {
    border: 1px solid rgb(255, 255, 255);
}

.br-garage {
    display: flex;
    justify-content: space-between;
}

.br-nft-gallery {
    border: 1px solid hsl(0%, 0%, 70%);
    margin: $spacing-sm;
    border-radius: 1em;
    padding: $spacing-sm;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

.br-nft-gallery-heading {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -0.5em;
    left: 1em;
    background-color: white;
}

.br-nft-list {
    display: flex;
}

.br-nft-list-item {
    border: 1px solid hsl(0%, 0%, 70%);
    border-radius: 1em;
    padding: $spacing-sm;
    margin-right: $spacing-sm;
    user-select: none;
    cursor: default;
}

.br-nft-list-item-selected {
    background-color: black;
    color: white;
}

.br-photo-booth {
    display: none;
}

.br-photo-overlay {
    display: none;
}

.br-screen-hidden {
    z-index: 100;
    opacity: 0;
}

.br-screen-prev {
    z-index: 101;
    opacity: 0;
}

.br-screen-current {
    z-index: 102;
    opacity: 1;
}

.br-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.br-screen-garage {
}

.br-screen-battle-setup {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.br-screen-battle {

}

.br-battle-setup {
    display: flex;
    flex: 1;
    align-items: center;
}

.br-battle-setup-home {
    flex: 1;
}

.br-battle-setup-vs {
    display: flex;
    flex-direction: column;
}

.br-battle-setup-away {
    flex: 1;
}

.br-battle-viewer {
    display: flex;
    margin-top: 1em;
}

.br-battle-viewer-home-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $spacing-sm;
    margin: $spacing-sm;
    border: 1px solid hsl(0%, 0%, 90%);
    border-radius: $spacing-sm;
}

.br-battle-viewer-away-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $spacing-sm;
    margin: $spacing-sm;
    border: 1px solid hsl(0%, 0%, 90%);
    border-radius: $spacing-sm;
}

.br-battle-viewer-main-panel {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 400px;
    padding: $spacing-sm;
    margin: $spacing-sm;
    border: 1px solid hsl(0%, 0%, 90%);
    border-radius: $spacing-sm;
    background-color: hsl(0%, 0%, 10%);
    color: hsl(300deg, 50%, 60%);
}

.br-battle-viewer-image-panel {

}

.br-battle-viewer-image {
    width: 160px;
    height: 160px;
    border-radius: $spacing-md;
}

.br-battle-text-group {
    margin-bottom: $spacing-md;
}

.br-battle-text-line-active {
    border: 2px solid hsl(300deg, 100%, 70%);
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 0.5em; 
    color: hsl(300deg, 100%, 70%);
}

.br-power-bar-panel {
    display: flex;
    width: 160px;
    margin: 4px;
}

.br-power-bar-outer {
    border: 1px solid hsl(300deg, 100%, 30%);
    background-color: black;
    border-radius: 5px;
    height: 30px;
    flex: 1;
    display: flex;
    padding: 2px;
}

.br-power-bar-inner {
    border: 1px solid hsl(300deg, 100%, 50%);
    background-color: hsl(300deg, 100%, 20%);
}

.br-power {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: hsl(300deg, 100%, 50%);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 4px;
}